.cart_container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .extra {
    display: flex;
  }

  .cart_wrapper {
    overflow: auto;
    width: 100%;
    min-height: 530px;
    max-height: 600px;
    height: 100%;
    position: relative;
  
    .item {
      display: flex;
      gap: 8px;
      width: 100%;
    
      .image {
        width: 160px;
        height: 160px;
        border: 1px solid grey;
        background-color: grey;
      }
    
      .content_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    
        .content {
          display: flex;
          flex-direction: column;
          gap: 8px;

          p {
            &:first-child {
              text-transform: uppercase;
              font-weight: 700;
              font-size: 16px;
            }
          }

          .no_toppings {
            font-size: 12px;
            color: grey;
          }
    
          .toppings_wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
          }
        }
    
        .price {
          display: flex;
          align-self: baseline;
          font-weight: 700;
        }
      }
    }
  }
}